body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav{
background-color: #9C004B;
    height: 122px;

}


#logo{
height: 100px;
margin-left: 20px;
    margin-top:10px;
}

.daybutton{
    text-align: center;
   background-color: #9C004B;
    margin: 20px;
    color:white;
    opacity: 1;
  

}
.daybutton:hover{
background-color:aquamarine;
    
}
#days{
text-align: center;
    margin-right: auto;
    margin-left: auto;
    

}

.rw{
background-color: #CDD30F;
}
.wiwi{
background-color: #AEA700;
}
.theo{
background-color: #ECBC00;
}
.phil{
background-color: #EC6200;
}
.psych{
background-color: #BF002A;
}
.slk{
background-color: #9C004B;
}

.bio{
background-color: #4FB800;
}
.math{
background-color: #009B77;
}

.phy{
background-color: #008993;
}
.che{
background-color: #0087B2;
}
.med{
background-color: #00556A;
}

.rw:hover{
background-color: #A4A90C;
}
.wiwi:hover{
background-color: #8B8600;
}
.theo:hover{
background-color: #BD9600;
}
.phil:hover{
background-color: #BD4E00;
}
.psych:hover{
background-color: #990022;
}
.slk:hover{
background-color: #7D003C;
}

.bio:hover{
background-color: #3F9300;
}
.math:hover{
background-color: #007C5F;
}

.phy:hover{
background-color: #006E76;
}
.che:hover{
background-color: #006C8E;
}
.med:hover{
background-color: #004455;
}

