body{
font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
}
nav{
background-color: #9C004B;
    height: 122px;

}


#logo{
height: 100px;
margin-left: 20px;
  margin-top:10px;
}
.tick text{
    fill:aliceblue;
color:aliceblue;}

.daybutton{
    text-align: center;
   background-color: #9C004B;
    margin: 20px;
    color:white;
    opacity: 1;
  

}
#middle{
   
position:relative;
    left:210;
}
.daybutton:hover{
background-color:aquamarine;
    
}
.daybutton.selected{
border: 4px solid rgba(0,0,0,0);
    border-radius: 60px;
}
.selected{
border: 4px solid rgba(0,0,0,0);;
    border-radius: 1px;
}

#days{
text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}

#facs{
text-align: center;

}


.fak{
margin: 10px;
position:absolute;
}
.fak_label{
margin: 10px;
position:absolute;
}

.ur{
background-color: #F0F8FF;
fill:#F0F8FF
}
.rw{
background-color: #CDD30F;
    fill:#CDD30F;
}
.wiwi{
background-color: #AEA700;
    fill:#AEA700;
}
.theo{
background-color: #ECBC00;
    fill:#ECBC00;
}
.phil{
background-color: #EC6200;
    fill:#EC6200;
}
.psych{
background-color: #BF002A;
        fill:#BF002A;
    

}
.slk{
background-color: #9C004B;
    fill:#9C004B;
}

.bio{
background-color: #4FB800;
    fill:#4FB800;
}
.math{
background-color: #009B77;
}

.phy{
background-color: #008993;
}
.che{
background-color: #0087B2;
}
.med{
background-color: #00556A;
}

.rw:hover{
background-color: #A4A90C;
}
.wiwi:hover{
background-color: #8B8600;
}
.theo:hover{
background-color: #BD9600;
}
.phil:hover{
background-color: #BD4E00;
}
.psych:hover{
background-color: #990022;
}
.slk:hover{
background-color: #7D003C;
}

.bio:hover{
background-color: #3F9300;
}
.math:hover{
background-color: #007C5F;
}

.phy:hover{
background-color: #006E76;
}
.che:hover{
background-color: #006C8E;
}
.med:hover{
background-color: #004455;
}

.bar {
    fill: #9C004B;
    padding-left: 5px;
    padding-right: 5px;
}

.bar:hover {
    fill: #E65A9D;
}

.axis text {
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
.chart {
  display: block;
 
    margin-top: 100px;  
    
}
.chartcont{
margin-top:300px;
display:flex;
justify-content:center;
align-items:center;

}
.radio{
border: none;
fill:none;
color:none;
}