body {
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
}

.axis text {
  font: 10 "Roboto", Helvetica sans-serif;
    color: aliceblue;
    fill:aliceblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFFFFF;
  shape-rendering: crispEdges;
}

.bar {
  fill-opacity: .9;
}
.bar:hover{

fill: white;}

.x.axis path {
  display: none;
}
label{
color:white;
}
.switch label input[type=checkbox]:checked + .lever:after{
/*    margin-left:20%;*/
    background-color: aliceblue;
  
    
}
.switch label .lever:before{
background-color: bisque;
}
#sortedBarChart{
text-align: center;
}
